.accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.accordion-header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header.active {
  background-color: #d9edf7;
}

.accordion-icon {
  font-size: 1.2em;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.accordion-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.accordion-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row p {
  margin: 2px;
}

.row p:last-child {
  margin-right: 0;
}

.row strong {
  margin-right: 5px;
}

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.cancelIcon{
  margin: 0.2rem;
  font-size: 24px;
}
.dialog-row{
  display: flex;
  font-size: 18px;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
.dialog-actions{
  display: flex;
  width: 30vw;
  justify-content: end;
  padding: 15px 3px;
  align-items: center;
}
.dialog-actions button{
  font-size: 18px;
  margin: 2px;
}